## 1. Data Preparation

### 1.1. Import Libraries

In [24]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

- Import data, check for comlumns and variables
### 1.2. Load and Clean Data
Load the dataset, inspect its structure, and perform initial cleaning. We drop the original 'Price' column (in Toman) and use 'Price(USD)' for our analysis, renaming it to 'Price'.

In [25]:
houses = pd.read_csv("./data/housePrice.csv")
houses = houses.drop('Price', axis=1)
houses = houses.rename(columns={'Price(USD)': 'Price'})
houses.info()
houses.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479 entries, 0 to 3478
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       3479 non-null   object
 1   Room       3479 non-null   int64
 2   Parking    3479 non-null   bool
 3   Warehouse  3479 non-null   bool
 4   Elevator   3479 non-null   bool
 5   Address    3456 non-null   object
 6   Price      3479 non-null   float64
dtypes: bool(3), float64(1), int64(1), object(2)
memory usage: 119.0+ KB

  Area  Room  Parking  Warehouse  Elevator         Address      Price
0   63     1     True       True      True         Shahran   61666.67
1   60     1     True       True      True         Shahran   61666.67
2   79     2     True       True      True          Pardis   18333.33
3   95     2     True       True      True   Shahrake Qods   30083.33
4  123     2     True       True      True  Shahrake Gharb  233333.33

- Since the Address column has some missing data in certain rows, we will drop these rows.

In [26]:
houses = houses.dropna(subset=['Address'])

- Check the header again

In [27]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3456 entries, 0 to 3478
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       3456 non-null   object
 1   Room       3456 non-null   int64
 2   Parking    3456 non-null   bool
 3   Warehouse  3456 non-null   bool
 4   Elevator   3456 non-null   bool
 5   Address    3456 non-null   object
 6   Price      3456 non-null   float64
dtypes: bool(3), float64(1), int64(1), object(2)
memory usage: 145.1+ KB

- That said, the data is now complete. HOWEVER, we have not yet categorized the data into the two main types: Numerical and Categorical. Now, we will do that.

In [28]:
# Identify numerical and categorical features
numerical_features = ['Price', 'Area']
categorical_features = ['Address', 'Parking', 'Warehouse', 'Elevator', 'Room']

# Convert 'Area' to numeric if possible (it's showing as 'object' type)
houses['Area'] = pd.to_numeric(houses['Area'], errors='coerce')
if houses['Area'].isna().sum() == 0:  # If conversion worked with no NaN values
    numerical_features.append('Area')
else:
    categorical_features.append('Area')
    
# Convert boolean columns to categorical type
for col in ['Parking', 'Warehouse', 'Elevator']:
    houses[col] = houses[col].astype('category')

# Convert Room to categorical if needed for certain analyses
houses['Room'] = houses['Room'].astype('int64')  # Ensure it's integer type

# Display the data types after conversion
print("Numerical Features:", numerical_features)
print("Categorical Features:", categorical_features)
print("\nDataFrame Info after type conversion:")
houses.info()

Numerical Features: ['Price', 'Area']
Categorical Features: ['Address', 'Parking', 'Warehouse', 'Elevator', 'Room', 'Area']

DataFrame Info after type conversion:
<class 'pandas.core.frame.DataFrame'>
Index: 3456 entries, 0 to 3478
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       3450 non-null   float64
 1   Room       3456 non-null   int64
 2   Parking    3456 non-null   category
 3   Warehouse  3456 non-null   category
 4   Elevator   3456 non-null   category
 5   Address    3456 non-null   object
 6   Price      3456 non-null   float64
dtypes: category(3), float64(2), int64(1), object(1)
memory usage: 145.4+ KB

### 1.3. Outlier Removal
To prevent extreme values from skewing the analysis, we remove the top and bottom 1% of properties based on price.

In [29]:
# Calculate 1st and 99th percentiles
lower_percentile = houses['Price'].quantile(0.01)
upper_percentile = houses['Price'].quantile(0.99)

print(f"1st percentile (1% lowest): ${lower_percentile:.2f}")
print(f"99th percentile (1% highest): ${upper_percentile:.2f}")

# Remove outliers
houses_before = len(houses)
houses = houses[(houses['Price'] >= lower_percentile) & (houses['Price'] <= upper_percentile)]
houses_after = len(houses)

print(f"\nDataset size before removing outliers: {houses_before}")
print(f"Dataset size after removing outliers: {houses_after}")
print(f"Removed {houses_before - houses_after} outliers ({((houses_before - houses_after) / houses_before * 100):.1f}%)")

1st percentile (1% lowest): $9833.33
99th percentile (1% highest): $1333333.33

Dataset size before removing outliers: 3456
Dataset size after removing outliers: 3395
Removed 61 outliers (1.8%)

In [30]:
avg_price_all_locations = houses.groupby('Address')['Price'].mean().sort_values(ascending=False)

for i, (location, price) in enumerate(avg_price_all_locations.items(), 1):
    property_count = houses[houses['Address'] == location].shape[0]
    print(f"{i:3d}. {location:<25} ${price:>10,.0f} ({property_count:>2} properties)")

  1. Lavasan                   $   866,667 ( 2 properties)
  2. Argentina                 $   838,833 ( 2 properties)
  3. Elahieh                   $   706,829 (14 properties)
  4. Farmanieh                 $   645,423 (54 properties)
  5. Kamranieh                 $   610,048 (14 properties)
  6. Zaferanieh                $   589,032 (23 properties)
  7. Ajudaniye                 $   555,333 ( 5 properties)
  8. Niavaran                  $   553,327 (63 properties)
  9. Velenjak                  $   530,833 (18 properties)
 10. Aqdasieh                  $   507,083 (24 properties)
 11. Mahmoudieh                $   423,333 ( 2 properties)
 12. Araj                      $   404,444 ( 9 properties)
 13. Shahrake Gharb            $   398,996 (59 properties)
 14. Dezashib                  $   395,333 ( 9 properties)
 15. Gheitarieh                $   357,012 (141 properties)
 16. Dorous                    $   353,333 (11 properties)
 17. Saadat Abad               $   316,292 (129 properties)
 18. Marzdaran                 $   315,573 (22 properties)
 19. Pasdaran                  $   313,050 (67 properties)
 20. Jordan                    $   310,072 (18 properties)
 21. Kook                      $   288,748 ( 9 properties)
 22. Ozgol                     $   284,711 ( 9 properties)
 23. Ekhtiarieh                $   279,699 (41 properties)
 24. Heravi                    $   268,729 (46 properties)
 25. Tajrish                   $   266,389 ( 6 properties)
 26. Vanak                     $   263,333 ( 1 properties)
 27. Hekmat                    $   262,833 ( 2 properties)
 28. Qalandari                 $   257,606 (11 properties)
 29. Chardivari                $   254,400 ( 1 properties)
 30. Sohanak                   $   248,267 ( 1 properties)
 31. Ghoba                     $   247,500 ( 2 properties)
 32. Mirdamad                  $   237,667 (14 properties)
 33. Zargandeh                 $   235,600 ( 4 properties)
 34. Yousef Abad               $   234,399 (38 properties)
 35. Gholhak                   $   226,667 (10 properties)
 36. Mahallati                 $   222,500 ( 4 properties)
 37. Garden of Saba            $   218,133 ( 2 properties)
 38. Seyed Khandan             $   212,111 ( 3 properties)
 39. Mehrabad                  $   206,667 ( 1 properties)
 40. Daryan No                 $   203,222 ( 3 properties)
 41. Darabad                   $   201,667 ( 3 properties)
 42. ShahrAra                  $   201,000 ( 5 properties)
 43. Shahrakeh Naft            $   195,556 ( 3 properties)
 44. Chidz                     $   193,333 ( 2 properties)
 45. Zafar                     $   191,644 ( 9 properties)
 46. Shahrake Apadana          $   190,000 ( 1 properties)
 47. Northern Suhrawardi       $   189,167 ( 4 properties)
 48. Sattarkhan                $   188,167 (12 properties)
 49. Gisha                     $   183,904 ( 9 properties)
 50. North Program Organization $   179,827 (26 properties)
 51. Mehran                    $   170,292 ( 8 properties)
 52. Abazar                    $   161,614 (22 properties)
 53. Sadeghieh                 $   158,167 ( 6 properties)
 54. Karimkhan                 $   157,444 ( 3 properties)
 55. Southern Suhrawardi       $   148,500 ( 2 properties)
 56. West Pars                 $   145,879 (11 properties)
 57. Zibadasht                 $   145,000 ( 1 properties)
 58. Dehkade Olampic           $   144,167 ( 9 properties)
 59. Absard                    $   141,111 ( 6 properties)
 60. Villa                     $   137,667 ( 1 properties)
 61. Amirabad                  $   137,262 (14 properties)
 62. Darband                   $   136,667 ( 1 properties)
 63. Mirza Shirazi             $   136,667 ( 1 properties)
 64. Fatemi                    $   135,556 ( 3 properties)
 65. Narmak                    $   131,331 (25 properties)
 66. Azadshahr                 $   128,667 ( 5 properties)
 67. East Ferdows Boulevard    $   128,491 (74 properties)
 68. Amir Bahador              $   127,325 ( 4 properties)
 69. Haft Tir                  $   125,833 ( 2 properties)
 70. Punak                     $   124,277 (161 properties)
 71. Railway                   $   122,912 (11 properties)
 72. Damavand                  $   122,109 (23 properties)
 73. Waterfall                 $   120,722 ( 3 properties)
 74. Heshmatieh                $   118,750 ( 4 properties)
 75. Tarasht                   $   117,972 ( 6 properties)
 76. Northren Jamalzadeh       $   116,881 (14 properties)
 77. Varamin - Beheshti        $   116,667 ( 1 properties)
 78. Central Janatabad         $   115,943 (91 properties)
 79. Ekbatan                   $   115,238 ( 7 properties)
 80. Shams Abad                $   115,083 ( 8 properties)
 81. Koohsar                   $   110,417 ( 4 properties)
 82. Northern Janatabad        $   109,611 (33 properties)
 83. Abbasabad                 $   107,667 ( 2 properties)
 84. Air force                 $   106,260 (10 properties)
 85. Southern Janatabad        $   105,948 (93 properties)
 86. Hakimiyeh                 $   104,200 ( 5 properties)
 87. Persian Gulf Martyrs Lake $   103,823 (87 properties)
 88. West Ferdows Boulevard    $   103,525 (145 properties)
 89. Shahr-e-Ziba              $   103,463 (109 properties)
 90. Water Organization        $   103,333 ( 4 properties)
 91. Feiz Garden               $   101,877 (38 properties)
 92. Kazemabad                 $   100,000 ( 1 properties)
 93. Shahran                   $    99,525 (130 properties)
 94. Lavizan                   $    99,167 ( 2 properties)
 95. Eram                      $    99,000 ( 1 properties)
 96. Keshavarz Boulevard       $    98,083 ( 4 properties)
 97. Valiasr                   $    97,319 ( 7 properties)
 98. Darakeh                   $    96,667 ( 1 properties)
 99. Golestan                  $    94,323 (16 properties)
100. Southern Program Organization $    93,652 (23 properties)
101. Mehrabad River River      $    86,667 ( 1 properties)
102. Shahrake Shahid Bagheri   $    82,500 ( 2 properties)
103. Azarbaijan                $    78,347 (24 properties)
104. Elm-o-Sanat               $    77,222 ( 3 properties)
105. Southern Chitgar          $    76,393 ( 5 properties)
106. Taslihat                  $    74,167 ( 2 properties)
107. SabaShahr                 $    73,333 ( 1 properties)
108. East Pars                 $    73,315 ( 8 properties)
109. Pirouzi                   $    72,500 (63 properties)
110. Shahryar                  $    72,356 (13 properties)
111. Moniriyeh                 $    72,067 ( 2 properties)
112. Tehransar                 $    71,625 ( 8 properties)
113. Tehran Now                $    70,000 ( 4 properties)
114. Nezamabad                 $    68,917 ( 2 properties)
115. Majidieh                  $    68,667 ( 2 properties)
116. Rudhen                    $    67,527 (11 properties)
117. Ostad Moein               $    64,785 (83 properties)
118. Andisheh                  $    63,980 (81 properties)
119. Tenant                    $    62,403 (23 properties)
120. Afsarieh                  $    62,222 ( 6 properties)
121. Parastar                  $    61,458 ( 8 properties)
122. Ray                       $    60,219 ( 9 properties)
123. Amirieh                   $    59,681 (12 properties)
124. Khademabad Garden         $    58,500 ( 1 properties)
125. Sabalan                   $    58,333 ( 2 properties)
126. Islamshahr Elahieh        $    58,333 ( 1 properties)
127. Jeyhoon                   $    58,270 (91 properties)
128. Si Metri Ji               $    56,175 (23 properties)
129. Republic                  $    55,492 ( 4 properties)
130. Azari                     $    54,667 ( 1 properties)
131. Boloorsazi                $    53,333 ( 1 properties)
132. Hor Square                $    52,474 ( 6 properties)
133. Qazvin Imamzadeh Hassan   $    51,985 (11 properties)
134. Eskandari                 $    51,917 ( 4 properties)
135. Enghelab                  $    51,333 ( 1 properties)
136. Abuzar                    $    50,944 ( 3 properties)
137. Qasr-od-Dasht             $    50,486 (28 properties)
138. Javadiyeh                 $    48,333 ( 1 properties)
139. Nawab                     $    48,083 ( 2 properties)
140. Salsabil                  $    46,567 (60 properties)
141. Shahrake Azadi            $    44,667 ( 2 properties)
142. Razi                      $    44,633 ( 7 properties)
143. Islamshahr                $    43,767 (37 properties)
144. Hashemi                   $    42,867 (13 properties)
145. Ray - Montazeri           $    41,667 ( 1 properties)
146. Yaftabad                  $    41,667 ( 3 properties)
147. Chardangeh                $    40,000 ( 1 properties)
148. Bahar                     $    40,000 ( 1 properties)
149. Karoon                    $    39,992 (20 properties)
150. Atabak                    $    38,739 ( 3 properties)
151. Komeil                    $    38,358 (11 properties)
152. Beryanak                  $    38,151 (25 properties)
153. Vahidieh                  $    37,583 ( 2 properties)
154. Shahedshahr               $    36,817 ( 4 properties)
155. Ahang                     $    36,667 ( 2 properties)
156. Dolatabad                 $    36,417 ( 2 properties)
157. Kahrizak                  $    36,074 (16 properties)
158. Shoosh                    $    35,333 ( 2 properties)
159. Northern Chitgar          $    34,490 (16 properties)
160. Fallah                    $    34,041 ( 9 properties)
161. Yakhchiabad               $    33,333 ( 1 properties)
162. Ray - Pilgosh             $    33,000 ( 1 properties)
163. Safadasht                 $    31,280 ( 1 properties)
164. Shahrake Qods             $    30,351 (68 properties)
165. Qarchak                   $    30,250 ( 4 properties)
166. Shahrake Quds             $    30,233 ( 5 properties)
167. Shadabad                  $    29,667 ( 1 properties)
168. Pakdasht                  $    29,333 (23 properties)
169. Aliabad South             $    28,333 ( 1 properties)
170. Pakdasht KhatunAbad       $    28,333 ( 1 properties)
171. Nasim Shahr               $    27,667 ( 2 properties)
172. Baqershahr                $    26,667 ( 1 properties)
173. Thirteen November         $    26,667 ( 1 properties)
174. Shahrake Madaen           $    26,667 ( 1 properties)
175. Pardis                    $    26,092 (145 properties)
176. Telecommunication         $    26,000 ( 1 properties)
177. Chahardangeh              $    26,000 ( 1 properties)
178. Salehabad                 $    25,000 ( 1 properties)
179. Firoozkooh Kuhsar         $    25,000 ( 1 properties)
180. Baghestan                 $    23,563 ( 8 properties)
181. Khavaran                  $    22,522 ( 3 properties)
182. Alborz Complex            $    21,500 ( 1 properties)
183. Naziabad                  $    21,333 ( 1 properties)
184. Ghiyamdasht               $    21,333 ( 1 properties)
185. Parand                    $    18,606 (113 properties)
186. Vahidiyeh                 $    18,467 ( 2 properties)
187. Hassan Abad               $    17,000 ( 1 properties)
188. Firoozkooh                $    15,667 ( 1 properties)
189. Pishva                    $    11,333 ( 2 properties)
190. Robat Karim               $    10,917 ( 2 properties)